[submodule "extern/SharpFont"]
	path = extern/SharpFont
	url = https://github.com/Robmaister/SharpFont.git
[submodule "extern/FontConfigSharp"]
	path = extern/FontConfigSharp
	url = https://github.com/CallumDev/FontConfigSharp.git
[submodule "extern/StbSharp"]
	path = extern/StbSharp
	url = https://github.com/rds1983/StbSharp
[submodule "extern/lidgren-network-gen3"]
	path = extern/lidgren-network-gen3
	url = https://github.com/CallumDev/lidgren-network-gen3
[submodule "extern/ImGui.NET"]
	path = extern/ImGui.NET
	url = https://github.com/Librelancer/ImGui.NET
[submodule "extern/cimgui"]
	path = extern/cimgui
	url = https://github.com/Extrawurst/cimgui
[submodule "extern/bullet3"]
	path = extern/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "extern/BulletSharpPInvoke"]
	path = extern/BulletSharpPInvoke
	url = https://github.com/AndresTraks/BulletSharpPInvoke
[submodule "extern/Collada141"]
	path = extern/Collada141
	url = https://github.com/Librelancer/Collada141
[submodule "extern/ImGuiColorTextEdit"]
	path = extern/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/lua/lua
	branch = v5.3
[submodule "extern/nativefiledialog"]
	path = extern/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog
[submodule "extern/crunch"]
	path = extern/crunch
	url = https://github.com/DaemonEngine/crunch
[submodule "extern/moonsharp"]
	path = extern/moonsharp
	url = https://github.com/Librelancer/moonsharp
[submodule "extern/thorncompiler"]
	path = extern/thorncompiler
	url = https://github.com/Librelancer/thorncompiler
[submodule "extern/lancerdecode"]
	path = extern/lancerdecode
	url = https://github.com/Librelancer/lancerdecode
