[submodule "extern/jitterphysics"]
	path = extern/jitterphysics
	url = https://github.com/CallumDev/jitterphysics.git
[submodule "extern/SharpFont"]
	path = extern/SharpFont
	url = https://github.com/Robmaister/SharpFont.git
[submodule "extern/FontConfigSharp"]
	path = extern/FontConfigSharp
	url = https://github.com/CallumDev/FontConfigSharp.git
[submodule "extern/MP3Sharp"]
	path = extern/MP3Sharp
	url = https://github.com/CallumDev/MP3Sharp
