[submodule "extern/FFmpeg.AutoGen"]
	path = extern/FFmpeg.AutoGen
	url = https://github.com/Ruslan-B/FFmpeg.AutoGen
[submodule "extern/jitterphysics"]
	path = extern/jitterphysics
	url = https://github.com/mattleibow/jitterphysics.git
[submodule "extern/SharpFont"]
	path = extern/SharpFont
	url = https://github.com/Robmaister/SharpFont.git
[submodule "extern/FontConfigSharp"]
	path = extern/FontConfigSharp
	url = https://github.com/CallumDev/FontConfigSharp.git
