# Folders
obj/
out/
build/
[Bb]in/
[Dd]ebug/
[Rr]elease/
packages/

# Visual Studio Profiling
*.psess
*.vspx

#Project Rider
.idea/

#NuGet
[Pp]ackages/

#Cake
tools/**
!tools/packages.config

# Visual Studio
*.suo
src/CommonVersion.props
launchSettings.json
*.pdb
*.exp
*.iobj
*.ipdb
*.lib
*.user
*.opendb
.vs/
.vscode/

# Sublime Text
*.sublime-project
*.sublime-workspace 

# MonoDevelop
*.userprefs

# Gedit
*~

# OSX files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

# Executables
*.exe
!src/updater.win32/updater.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.vsp
/src/UpgradeLog.htm
/src/LibreLancer.VC.VC.opendb
*.db
MISSIONS/empathy.ini
MISSIONS/faction_prop.ini
MISSIONS/factionsets.ini
MISSIONS/formations.ini
MISSIONS/gcs_tester_stand_male.thn
MISSIONS/lootprops.ini
MISSIONS/mbases.ini
MISSIONS/mshipprops.ini
MISSIONS/news.ini
MISSIONS/npcships_test.ini
MISSIONS/npcships.ini
MISSIONS/pilots_population.ini
MISSIONS/pilots_story.ini
MISSIONS/ptough.ini
MISSIONS/rankdiff.ini
MISSIONS/shipclasses.ini
MISSIONS/specific_npc.ini
MISSIONS/voice_properties.ini
MISSIONS/ENCOUNTERS/area_armored_prisoner.ini
MISSIONS/ENCOUNTERS/area_assault.ini
MISSIONS/ENCOUNTERS/area_bh_assault.ini
MISSIONS/ENCOUNTERS/area_bh_defend.ini
MISSIONS/ENCOUNTERS/area_bh_scout.ini
MISSIONS/ENCOUNTERS/area_defend.ini
MISSIONS/ENCOUNTERS/area_gunboats.ini
MISSIONS/ENCOUNTERS/area_lifter.ini
MISSIONS/ENCOUNTERS/area_nomads_m13.ini
MISSIONS/ENCOUNTERS/area_nomads.ini
MISSIONS/ENCOUNTERS/area_repair.ini
MISSIONS/ENCOUNTERS/area_scavenger.ini
MISSIONS/ENCOUNTERS/area_scout.ini
MISSIONS/ENCOUNTERS/area_trade_armored.ini
MISSIONS/ENCOUNTERS/area_trade_freighter_pirate.ini
MISSIONS/ENCOUNTERS/area_trade_freighter_smuggler.ini
MISSIONS/ENCOUNTERS/area_trade_freighter.ini
MISSIONS/ENCOUNTERS/area_trade_smuggler.ini
MISSIONS/ENCOUNTERS/area_trade_trader.ini
MISSIONS/ENCOUNTERS/area_trade_transport.ini
MISSIONS/ENCOUNTERS/miningp_scavenger.ini
MISSIONS/ENCOUNTERS/miningp_trade_transport.ini
MISSIONS/ENCOUNTERS/new_encounter_example.ini
MISSIONS/ENCOUNTERS/patrolp_assault.ini
MISSIONS/ENCOUNTERS/patrolp_bh_assault.ini
MISSIONS/ENCOUNTERS/patrolp_bh_patrol.ini
MISSIONS/ENCOUNTERS/patrolp_gov_patrol.ini
MISSIONS/ENCOUNTERS/patrolp_gunboats.ini
MISSIONS/ENCOUNTERS/patrolp_pirate_patrol.ini
MISSIONS/ENCOUNTERS/tradelane_armored_prisoner.ini
MISSIONS/ENCOUNTERS/tradelane_trade_armored.ini
MISSIONS/ENCOUNTERS/tradelane_trade_freighter.ini
MISSIONS/ENCOUNTERS/tradelane_trade_transport.ini
MISSIONS/ENCOUNTERS/tradep_armored_prisoner.ini
MISSIONS/ENCOUNTERS/tradep_miner_transport.ini
MISSIONS/ENCOUNTERS/tradep_trade_armored.ini
MISSIONS/ENCOUNTERS/tradep_trade_freighter_pirate.ini
MISSIONS/ENCOUNTERS/tradep_trade_freighter_smuggler.ini
MISSIONS/ENCOUNTERS/tradep_trade_freighter.ini
MISSIONS/ENCOUNTERS/tradep_trade_smuggler.ini
MISSIONS/ENCOUNTERS/tradep_trade_trader.ini
MISSIONS/ENCOUNTERS/tradep_trade_transport.ini
MISSIONS/M01A/m000_s002xe_li01_01_nrml.ini
MISSIONS/M01A/m01a_01.thn
MISSIONS/M01A/m01a_02.thn
MISSIONS/M01A/m01a_03.thn
MISSIONS/M01A/m01a_04.thn
MISSIONS/M01A/m01a_05.thn
MISSIONS/M01A/m01a_06.thn
MISSIONS/M01A/m01a_07.thn
MISSIONS/M01A/m01a_08.thn
MISSIONS/M01A/m01a_09.thn
MISSIONS/M01A/m01a_11.thn
MISSIONS/M01A/m01a_fp7_01.thn
MISSIONS/M01A/m01a_fp7_02.thn
MISSIONS/M01A/m01a_fp7_02b.thn
MISSIONS/M01A/m01a_fp7_03.thn
MISSIONS/M01A/m01a_rev2_01.thn
MISSIONS/M01A/m01a_rev2_02.thn
MISSIONS/M01A/m01a_rev2_03.thn
MISSIONS/M01A/m01a_rev2_04.thn
MISSIONS/M01A/m01a_rev2_05.thn
MISSIONS/M01A/m01a_rev2_06.thn
MISSIONS/M01A/m01a_rev2_07.thn
MISSIONS/M01A/m01a_rev2_08.thn
MISSIONS/M01A/m001a_s003x_li01_01_nrml.ini
MISSIONS/M01A/m001a_s004x_li01_01_nrml.ini
MISSIONS/M01A/m001a_s005a_li01_01_offer.ini
MISSIONS/M01A/m001a_s005d_li01_01_reoffer.ini
MISSIONS/M01A/m001a_s006x_li01_02_nrml.ini
MISSIONS/M01A/m01a.ini
MISSIONS/M01A/mission1 readme.doc
MISSIONS/M01A/npcships.ini
MISSIONS/M01B/m01_space_enter.thn
MISSIONS/M01B/m01b_01.thn
MISSIONS/M01B/m01b_02.thn
MISSIONS/M01B/m01b_03.thn
MISSIONS/M01B/m01b_11.thn
MISSIONS/M01B/m01b_king_01.thn
MISSIONS/M01B/m01b.ini
MISSIONS/M01B/mission1 readme.doc
MISSIONS/M01B/npcships.ini
MISSIONS/M02/m02_cosmo_01.thn
MISSIONS/M02/m02_king_01.thn
MISSIONS/M02/m002_s009a_li01_01_offer.ini
MISSIONS/M02/m002_s009d_li01_01_reoffer.ini
MISSIONS/M02/m002_s010x_li01_01_nrml.ini
MISSIONS/M02/m002_s011x_li01_03_nrml.ini
MISSIONS/M02/m02_space_enter.thn
MISSIONS/M02/m02.ini
MISSIONS/M02/m03_survivor1.thn
MISSIONS/M02/npcships.ini
MISSIONS/M03/m03_rfighter_encounter.thn
MISSIONS/M03/m03_rfighter_end.thn
MISSIONS/M03/m03_rfighter_response.thn
MISSIONS/M03/m003_s012xa_li01_01_nrml.ini
MISSIONS/M03/m003_s012xb_li01_01_nrml.ini
MISSIONS/M03/m003_s014a_li02_02_offer.ini
MISSIONS/M03/m003_s014d_li02_02_reoffer.ini
MISSIONS/M03/m003_s015x_li02_02_nrml.ini
MISSIONS/M03/m03_survivor1.thn
MISSIONS/M03/m03_survivor2.thn
MISSIONS/M03/m03_survivor3.thn
MISSIONS/M03/m03.ini
MISSIONS/M03/npcships.ini
MISSIONS/M04/m04_01.thn
MISSIONS/M04/m04_02.thn
MISSIONS/M04/m04_juni.thn
MISSIONS/M04/m04_lsf_flyby.thn
MISSIONS/M04/m004_s019a_li01_01_offer.ini
MISSIONS/M04/m004_s019d_li01_01_reoffer.ini
MISSIONS/M04/m004_s020x_li01_04_nrml.ini
MISSIONS/M04/m004_s021x_br04_01_nrml.ini
MISSIONS/M04/m04_space_enter.thn
MISSIONS/M04/m04_vanpelt_burns.thn
MISSIONS/M04/m04_vanpelt_final.thn
MISSIONS/M04/m04_vanpelt_talks.thn
MISSIONS/M04/m04.ini
MISSIONS/M04/npcships.ini
MISSIONS/M05/m05_battleship_death.thn
MISSIONS/M05/m05_baxter_explodes.thn
MISSIONS/M05/m05_chase.thn
MISSIONS/M05/m05_dock_explodes.thn
MISSIONS/M05/m05_fighter_decloak.thn
MISSIONS/M05/m005_s026a_br03_01_offer.ini
MISSIONS/M05/m005_s026d_br03_01_reoffer.ini
MISSIONS/M05/m005_s027xa_bw01_01_nrml.ini
MISSIONS/M05/m005_s027xb_bw01_01_nrml.ini
MISSIONS/M05/m005_s027xc_bw01_01_nrml.ini
MISSIONS/M05/m005_s028x_bw01_05_nrml.ini
MISSIONS/M05/m005_s029x_br04_01_nrml.ini
MISSIONS/M05/m05_sprague_decloak.thn
MISSIONS/M05/m05_traitor_01.thn
MISSIONS/M05/m05_traitor_02.thn
MISSIONS/M05/m05.ini
MISSIONS/M05/npcships.ini
MISSIONS/M06/m06_finish_line.thn
MISSIONS/M06/m06_hovis_wins1.thn
MISSIONS/M06/m06_race_hood1.thn
MISSIONS/M06/m06_race_hood2.thn
MISSIONS/M06/m06_race_hood3.thn
MISSIONS/M06/m06_race_hood3alt.thn
MISSIONS/M06/m06_race_hood4_buoy.thn
MISSIONS/M06/m06_race_hood5.thn
MISSIONS/M06/m06_race_hood6.thn
MISSIONS/M06/m006_s032a_br05_01_offer.ini
MISSIONS/M06/m006_s032d_br05_01_reoffer.ini
MISSIONS/M06/m006_s033x_br05_01_nrml.ini
MISSIONS/M06/m006_s034x_br05_02_nrml.ini
MISSIONS/M06/m06.ini
MISSIONS/M06/npcships.ini
MISSIONS/M07/m07_fleet1.thn
MISSIONS/M07/m07_fleet2.thn
MISSIONS/M07/m07_fleet3.thn
MISSIONS/M07/m07_fleet4.thn
MISSIONS/M07/m07_fleet6_chasecam.thn
MISSIONS/M07/m07_fleet7_bship.thn
MISSIONS/M07/m07_intro.thn
MISSIONS/M07/m07_intro2.thn
MISSIONS/M07/m07_intro2b.thn
MISSIONS/M07/m07_intro3.thn
MISSIONS/M07/m007_s037a_br04_01_offer.ini
MISSIONS/M07/m007_s037d_br04_01_reoffer.ini
MISSIONS/M07/m007_s038xa_bw08_01_nrml.ini
MISSIONS/M07/m007_s038xb_bw08_01_nrml.ini
MISSIONS/M07/m007_s039x_ku03_01_nrml.ini
MISSIONS/M07/m07.ini
MISSIONS/M07/npcships.ini
MISSIONS/M08/m008_s045a_ku01_05_offer.ini
MISSIONS/M08/m008_s045d_ku01_05_reoffer.ini
MISSIONS/M08/m008_s046x_ku06_01_nrml.ini
MISSIONS/M08/m08.ini
MISSIONS/M08/npcships.ini
MISSIONS/M09/arch.thn
MISSIONS/M09/m009_s050a_ku06_01_bar_offer.ini
MISSIONS/M09/m009_s050d_ku06_01_bar_reoffer.ini
MISSIONS/M09/m009_s051xa_ku07_01_nrml.ini
MISSIONS/M09/m009_s051xb_ku07_01_nrml.ini
MISSIONS/M09/m009_s051xc_ku07_01_nrml.ini
MISSIONS/M09/m009_s052x_ku06_01_nrml.ini
MISSIONS/M09/m09.ini
MISSIONS/M09/npcships.ini
MISSIONS/M10/dummy_test.ini
MISSIONS/M10/m10_bund_launch.thn
MISSIONS/M10/m10_minefield.thn
MISSIONS/M10/m010_s055a_ku06_01_offer.ini
MISSIONS/M10/m010_s055d_ku06_01_reoffer.ini
MISSIONS/M10/m010_s059x_rh01_01_nrml.ini
MISSIONS/M10/m010_s062x_rh04_01_nrml.ini
MISSIONS/M10/m010_s063x_rh04_05_nrml.ini
MISSIONS/M10/m010_s064x_rh02_07_nrml.ini
MISSIONS/M10/m10.ini
MISSIONS/M10/npcships.ini
MISSIONS/M11/m11_osiris.thn
MISSIONS/M11/m011_s067a_iw02_03_offer.ini
MISSIONS/M11/m011_s067d_iw02_03_reoffer.ini
MISSIONS/M11/m011_s068x_li01_12_nrml.ini
MISSIONS/M11/m011_s069x_li05_01_nrml.ini
MISSIONS/M11/m011_s070x_li01_15_nrml.ini
MISSIONS/M11/m11_walker1.thn
MISSIONS/M11/m11_walker2.thn
MISSIONS/M11/m11.ini
MISSIONS/M11/npcships.ini
MISSIONS/M12/dummy_test.ini
MISSIONS/M12/m12_osiris.thn
MISSIONS/M12/m012_s071a_st02_01_offer.ini
MISSIONS/M12/m012_s071d_st02_01_reoffer.ini
MISSIONS/M12/m12.ini
MISSIONS/M12/npcships.ini
MISSIONS/M13/endgame_convoy.thn
MISSIONS/M13/m013_endgame_st03b_nrml.ini
MISSIONS/M13/m013_s072aa_st01_01_nrml.ini
MISSIONS/M13/m013_s072ab_st01_01_offer.ini
MISSIONS/M13/m013_s072bb_st01_01_nrml.ini
MISSIONS/M13/m013_s072d_st01_01_reoffer.ini
MISSIONS/M13/m013_s074x_st01_01_nrml.ini
MISSIONS/M13/m013_s075x_st01_02_nrml.ini
MISSIONS/M13/m013_s076xa_li01_01_nrml.ini
MISSIONS/M13/m013_s076xb_li01_01_nrml.ini
MISSIONS/M13/m13.ini
MISSIONS/M13/npcships.ini
