DOTNET_VERSION=10.0
USE_SYSTEM_DXC=0
DXC_WINX64=https://github.com/microsoft/DirectXShaderCompiler/releases/download/v1.9.2602/dxc_2026_02_20.zip
DXC_LINUXX64=https://github.com/microsoft/DirectXShaderCompiler/releases/download/v1.9.2602/linux_dxc_2026_02_20.x86_64.tar.gz
DXC_SOURCE=https://github.com/microsoft/DirectXShaderCompiler/
DXC_COMMIT=8c0d03247b3587d8c377b77a86e50f69bb112802
