root = true
# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
charset = utf-8
indent_style = space

# C# files
[*.cs]
indent_size = 4
csharp_style_var_when_type_is_apparent = true:suggestion
