html { font-family: 'Open Sans', sans-serif; }
body { font-size: 100%; color: rgb(180, 180, 180); background-color: rgb(33, 33, 33); margin: 0 auto; max-width: 66.6em; }
em { color: rgb(224, 224, 224); }
a { color:rgb(140, 200, 241); }
pre { font-family: 'Source Code Pro', monospace; }
dt { font-weight: bold; }
h1, h2, h3 { font-weight: normal; color: rgb(255, 255, 255); }
table { border-collapse: collapse; }
table, th, td { border: .05em solid rgb(80, 80, 80); font-size: .85rem; }
caption { text-align: left; margin: 1em 0; color: rgb(255, 243, 186); }
td, th { vertical-align: top; }
th { text-align: left; font-weight: normal; font-style: italic; }
thead, tfoot { color: rgb(224, 224, 224); }
th, td { padding: .5em; }
dl { font-size: .95rem; }
dt { font-weight: normal; font-style: italic; color: rgb(255, 243, 186); margin: 1em; }
dd { font-size: .85rem; }