<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<dllmap dll="freetype6" os="linux" target="libfreetype.so.6" />
	<dllmap dll="freetype6" os="osx" wordsize="32" target="/Library/Frameworks/Mono.framework/Libraries/libfreetype.6.dylib" />
	<dllmap dll="freetype6" os="osx" wordsize="64" target="libfreetype.6.dylib" />
</configuration>